body {
  font-size: 20px;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  background-color: #222222;
}
canvas {
  display: block;
  transform-origin: top left;
  margin: 0 auto;
}

table {
  display: block;
}

#UI {
  background-color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: all 200ms ease-in-out;
}

#UI pre {
  display: block;
  padding: 10vw
}

#UI button {
  font-size: 1.2rem;
  padding: 1rem;
  margin-left: 15vw;
}

#UI .ask-to-connect {
  padding: 0.2rem;
  font-weight: bold;
}

#UI.hide {
  display:none;
}

tbody {
  transform-origin: top left;
}

#glyphs {
  display: none;
}
