#UI {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: opacity 200ms linear;
  z-index: 1;
}

#UI.hide {
  opacity: 0;
  pointer-events: none;
}

#UI #background-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  height: 80vmax;
  width: 80vmax;
  margin: auto;
  transform-origin: center center;
  transform: perspective(20vmax);
  perspective: 10vmax;
  perspective-origin: center center;
  transform-style: preserve-3d;
  animation: max-headroom 20s infinite;
  z-index: 2;
}

@keyframes max-headroom {
  from { perspective-origin: 50% 50%; }
  20%  { perspective-origin: 10% 80%; }
  40%  { perspective-origin: 30% 30%; }
  60%  { perspective-origin: 90% 10%; }
  80%  { perspective-origin: 60% 30%; }
  to   { perspective-origin: 50% 50%; }
}

#UI #background-container > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: visible;
}

#UI #background-container #bg-back {
  transform-origin: center center;
  transform: translateZ(-10vmin);
  background: repeating-linear-gradient( 0, #33ff00, #33ff00 8px, #000 0, #000 35px);
}
#UI #background-container #bg-left {
  transform-origin: left center;
  transform: translateZ(-10vmin) rotateY(-90deg);
  background: repeating-linear-gradient( 0, #ff0062, #ff0062 8px, #000 0, #000 35px);
}
#UI #background-container #bg-right {
  transform-origin: right center;
  transform: translateZ(-10vmin) rotateY(90deg);
  background: repeating-linear-gradient( 0, #eaff2c, #eaff2c 8px, #000 0, #000 35px);
}
#UI #background-container #bg-bottom {
  transform-origin: bottom center;
  transform: translateZ(-10vmin) perspective(50vmax) rotateX(-90deg);
  background: repeating-linear-gradient( 30deg, #cc00ff, #cc00ff 8px, #000 0, #000 35px);
}
#UI #background-container #bg-top {
  transform-origin: top center;
  transform: translateZ(-10vmin) rotateX(90deg);
  background: repeating-linear-gradient( 30deg, #0044ff, #0044ff 8px, #000 0, #000 35px);
}

#UI #text-container {
  position: relative;
  background-color: rgb(3, 94, 0, 0.8);
  border: 4px solid rgb(0, 48, 2);
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 1rem auto;
  max-width: 20rem;
  min-height: max-content;
  z-index: 3;
}

@media (max-width: 640px) {
  #UI #text-container {
    margin: 1rem;
    overflow-y: scroll;
  }
}

#UI #text-container,
#UI #text-container a {
  color:#00ff15;
}

#UI h1, p {
  margin: 0;
}

#UI ul {
  display: inline-block;
  text-align: left;
}

#UI li {
  list-style: none;
  margin-bottom: 1rem;
}

#UI p.signature {
  font-size: 0.9rem;
  margin: 0.6rem;
}

#UI #online {
  border: 2px solid rgb(32, 32, 32);
  box-shadow: inset 0px 0px 7px -2px #272727;
  border-radius: 5px;
  max-width: 30rem;
  max-height: 50%;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 1rem;
}

@media (max-width: 640px) {
  #UI #online {
    max-width: unset;
    margin: 0;
    overflow-y: scroll;
  }
}

#online p {
  font-size: 1.2rem;
}

#UI button#play-offline {
  font-size: 1.2rem;
  padding: 1rem;
  display: inline-block;
  box-sizing: border-box;
  font-weight: bold;
}

@media (max-width: 640px) {
  #UI button#play-offline {
    margin: 1rem 0 0rem;
  }
}

#UI .ask-to-connect {
  font-size: 1rem;
  margin: 0 0.9rem;
  padding: 0.5rem 0.7rem;;
  font-weight: bold;
}